.createObjetive {
	display: flex;
	border-color: black;
	border-width: 1px;
	border-radius: 10px;
	width: 100%;
	height: 100px;
}
.textObjetive {
	text-align: left;
	margin-inline: 10px;
}

.boxObjetive {
	display: flex;
	margin-block: 2.1%;
	margin-inline: 15px;
}
