#root {
}

.button-primary {
  width: auto;
  padding: 5px 10px;
  border-radius: 8px;
  background: #251b4d;
  color: #fff;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: 400;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;

  white-space: nowrap;
}

.button-primary:hover {
  background-color: #2e2160;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.2),
    0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-secondary_outlined {
  padding: 5px 10px;
  border-radius: 8px;
  border: 0.5px solid #251b4d;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.button-secondary_outlined:hover {
  background-color: #ebecf6;
}
